{% block title %}<center><h1>React PHP Chat</h1></center>{% endblock %}

{% block container %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<style xmlns="http://www.w3.org/1999/html">
    .conversation-wrap
    {
        box-shadow: -2px 0 3px #ddd;
        padding:0;
        max-height: 400px;
        overflow: auto;
    }
    .conversation
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;

    }
    .msg
    {
        padding:5px;
        /*border-bottom:1px solid #ddd;*/
        margin:0;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 400px;
        overflow: auto;

    }

    .time
    {
        color:#bfbfbf;
    }

    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        /*background: #f8f8f8;*/
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }
    .btn-panel
    {
        background: #f7f7f9;
    }

    .btn-panel .btn
    {
        color:#b8b8b8;

        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }

    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }


    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }


    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        /*        -webkit-border-radius: 10px;
                border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        /*        -webkit-border-radius: 10px;
                border-radius: 10px;*/
        background:#ddd;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd;
    }


</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    <div class="row">


        <div class="message-wrap col-lg-2" style="box-shadow:0px 0px 0px 0px !important;"></div>

        <div class="message-wrap col-lg-8 ">
            <div class="msg-wrap">


            </div>

            <div class="send-wrap ">
                <form id="chatForm" action="{{ path('message_create') }}" method="post">
                    <input id="name" type="text" name="name" class="form-control send-message" placeholder="Your name..." /><br>
                    <textarea id="message" name="message" class="form-control send-message" rows="3" placeholder="Write a reply..."></textarea>
                </form>
            </div>


            <div class="btn-panel">
                <a id="submitMessage" href="" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send Message</a>
            </div>
        </div>
    </div>
</div>
    <script>
    $("#submitMessage").click(function() {
        $.ajax({
            type: "POST",
            url: "{{ path('message_create') }}",
            cache: false,
            data: $("#chatForm").serialize(), // serializes the form's elements.
            success: function(data)
            {
                console.log("success" + data); // show response from the php script.
            },
            error: function(error){
                console.log("error" + error);
            }
        });
        $("#message").val('');
        return false;
    });

    </script>

    <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script>
        var conn = new ab.Session(
                'ws://localhost:9090' // The host (our Ratchet WebSocket server) to connect to
                , function() {            // Once the connection has been established
                    conn.subscribe('category1', function(topic, data) {
                        // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                        console.log('New article published to category "' + topic + '" : ' + JSON.stringify(data));
                        $('.msg-wrap').append("<div class='media msg'><div class='media-body'><small class='pull-right time'><i class='fa fa-clock-o'></i> {{ "now"|date("m/d/Y - H:i") }}</small><h5 class='media-heading'>" + data[0] + "</h5><small class='col-lg-10'>" + data[1] + "</small></div></div>");
                    });
                }
                , function() {            // When the connection is closed
                    console.warn('WebSocket connection closed');
                }
                , {                       // Additional parameters, we're ignoring the WAMP sub-protocol for older browsers
                    'skipSubprotocolCheck': true
                }
        );
    </script>


{% endblock %}